- model_class = Job.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.pull-left
  %ul.pagination
    %li{:class => ('active' if params[:status].blank?) }
      = link_to 'all', jobs_path
    %li{:class => ('active' if params[:status] == 'incomplete') }
      = link_to 'incomplete', jobs_path(filter_params(status: :incomplete))
    %li{:class => ('active' if params[:status] == 'failed') }
      = link_to 'failed', jobs_path(filter_params(status: :failed))

.pull-right
  = paginate @jobs

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:created_at)
      %th= model_class.human_attribute_name(:original)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:application_id)
      %th= model_class.human_attribute_name(:job_type)
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to l(job.created_at, :format => :short), job_path(job)
        %td= job.original
        %td= job.status
        %td= link_to(job.application.name, jobs_path(filter_params(app_id: job.application.id)))
        %td= job.job_type
